{
    "swagger": "2.0",
    "info": {
        "title": "Open edX API",
        "description": "APIs for access to Open edX information",
        "contact": {
            "email": "digmoove@gmail.com"
        },
        "version": "v1"
    },
    "host": "educationvirtual.net",
    "schemes": [
        "https"
    ],
    "basePath": "/api",
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "Basic": {
            "type": "basic"
        }
    },
    "security": [
        {
            "Basic": []
        }
    ],
    "paths": {
        "/agreements/v1/agreement/": {
            "get": {
                "operationId": "agreements_v1_agreement_list",
                "summary": "Get all user agreements for this agreement type.",
                "description": "Get all user agreements for this agreement type.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "agreement_type",
                        "in": "query",
                        "description": "Agreement ID/Type",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UserAgreement"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                },
                "tags": [
                    "agreements"
                ]
            },
            "parameters": []
        },
        "/agreements/v1/agreement/{agreement_type}/": {
            "get": {
                "operationId": "agreements_v1_agreement_read",
                "summary": "Get the user agreement for this agreement type.",
                "description": "Get the user agreement for this agreement type.",
                "parameters": [
                    {
                        "name": "agreement_type",
                        "in": "path",
                        "description": "Agreement ID/Type",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UserAgreement"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "tags": [
                    "agreements"
                ]
            },
            "parameters": [
                {
                    "name": "agreement_type",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/agreements/v1/agreement/{agreement_type}/text/": {
            "get": {
                "operationId": "agreements_v1_agreement_text",
                "summary": "Get the text of a user agreement by its type.",
                "description": "Get the text of a user agreement by its type.",
                "parameters": [
                    {
                        "name": "agreement_type",
                        "in": "path",
                        "description": "Agreement ID/Type",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UserAgreement"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "tags": [
                    "agreements"
                ]
            },
            "parameters": [
                {
                    "name": "agreement_type",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/agreements/v1/agreement_record/{agreement_type}": {
            "get": {
                "operationId": "agreements_v1_agreement_record_read",
                "summary": "Get a user's acknowledgement record for this agreement type.",
                "description": "Get a user's acknowledgement record for this agreement type.",
                "parameters": [
                    {
                        "name": "agreement_type",
                        "in": "path",
                        "description": "Agreement ID/Type",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UserAgreementRecord"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "tags": [
                    "agreements"
                ]
            },
            "post": {
                "operationId": "agreements_v1_agreement_record_create",
                "summary": "Marks a user's acknowledgement of this agreement type.",
                "description": "Marks a user's acknowledgement of this agreement type.",
                "parameters": [
                    {
                        "name": "agreement_type",
                        "in": "path",
                        "description": "Agreement ID/Type",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UserAgreementRecord"
                        }
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                },
                "tags": [
                    "agreements"
                ]
            },
            "parameters": [
                {
                    "name": "agreement_type",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/agreements/v1/integrity_signature/{course_id}": {
            "get": {
                "operationId": "agreements_v1_integrity_signature_read",
                "summary": "In order to check whether the user has signed the integrity agreement for a given course.",
                "description": "Should return the following:\n    username (str)\n    course_id (str)\n    created_at (str)\n\nIf a username is not given, it should default to the requesting user (or masqueraded user).\nOnly staff should be able to access this endpoint for other users.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "agreements"
                ]
            },
            "post": {
                "operationId": "agreements_v1_integrity_signature_create",
                "description": "Create an integrity signature for the requesting user and course. If a signature\nalready exists, returns the existing signature instead of creating a new one.\n\n/api/agreements/v1/integrity_signature/{course_id}\n\nExample response:\n    {\n        username: \"janedoe\",\n        course_id: \"org.2/course_2/Run_2\",\n        created_at: \"2021-04-23T18:25:43.511Z\"\n    }",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "agreements"
                ]
            },
            "parameters": [
                {
                    "name": "course_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/agreements/v1/lti_pii_signature/{course_id}": {
            "post": {
                "operationId": "agreements_v1_lti_pii_signature_create",
                "description": "Create an LTI PII signature for the requesting user and course. If a signature\nalready exists, returns the existing signature instead of creating a new one.\n\n/api/agreements/v1/lti_pii_signature/{course_id}\n\nExample response:\n    {\n        username: \"janedoe\",\n        course_id: \"org.2/course_2/Run_2\",\n        created_at: \"2021-04-23T18:25:43.511Z\"\n    }",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "agreements"
                ]
            },
            "parameters": [
                {
                    "name": "course_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/authz/v1/assignments/": {
            "get": {
                "operationId": "authz_v1_assignments_list",
                "summary": "Retrieve all user role assignments.",
                "description": "Retrieve all user role assignments.",
                "parameters": [
                    {
                        "name": "orgs",
                        "in": "query",
                        "description": "The orgs to query assignments for",
                        "type": "string"
                    },
                    {
                        "name": "roles",
                        "in": "query",
                        "description": "The roles to query assignments for",
                        "type": "string"
                    },
                    {
                        "name": "scopes",
                        "in": "query",
                        "description": "The scopes to query assignments for",
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "The search query to filter assignments by full_name, username, or email",
                        "type": "string"
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "The field to sort by. Options: role, org, scope, full_name, username, email",
                        "type": "string"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order to sort by",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of items per page",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TeamMemberUserAssignment"
                            }
                        }
                    },
                    "400": {
                        "description": "The request parameters are invalid"
                    },
                    "401": {
                        "description": "The user is not authenticated"
                    },
                    "403": {
                        "description": "The user does not have the required permissions"
                    }
                },
                "tags": [
                    "authz"
                ]
            },
            "parameters": []
        },
        "/authz/v1/orgs/": {
            "get": {
                "operationId": "authz_v1_orgs_list",
                "summary": "API view for listing orgs\nThis API is used on the filters functionality on the Admin Console.",
                "description": "**Endpoints**\n\n- GET: Retrieve all organizations\n\n**Query Parameters**\n\n- search (Optional): Search term to filter organizations by name or short name\n- page (Optional): Page number for pagination\n- page_size (Optional): Number of items per page\n\n**Response Format**\n\nReturns a paginated list of organization objects, each containing:\n\n- id: The organization's ID\n- name: The organization's name\n- short_name: The organization's short name\n\n**Authentication and Permissions**\n\n- Requires authenticated user.\n\n**Example Request**\n\nGET /api/authz/v1/orgs/?search=edx&page=1&page_size=10\n\n**Example Response**::\n\n    {\n        \"count\": 1,\n        \"next\": null,\n        \"previous\": null,\n        \"results\": [\n            {\n                \"id\": 1,\n                \"created\": \"2026-04-02T19:30:36.779095Z\",\n                \"modified\": \"2026-04-02T19:30:36.779095Z\",\n                \"name\": \"OpenedX\",\n                \"short_name\": \"OpenedX\",\n                \"description\": \"\",\n                \"logo\": null,\n                \"active\": true\n            }\n        ]\n    }",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filter orgs by name or short_name",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of items per page",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Organization"
                            }
                        }
                    },
                    "401": {
                        "description": "The user is not authenticated"
                    },
                    "403": {
                        "description": "The user does not have the required permissions"
                    }
                },
                "tags": [
                    "authz"
                ]
            },
            "parameters": []
        },
        "/authz/v1/permissions/validate/me": {
            "post": {
                "operationId": "authz_v1_permissions_validate_me_create",
                "summary": "Validate one or more permissions for the authenticated user.",
                "description": "Validate one or more permissions for the authenticated user.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "description": "The permissions to validate",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PermissionValidation"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/PermissionValidationResponse"
                        }
                    },
                    "400": {
                        "description": "The request data is invalid"
                    },
                    "401": {
                        "description": "The user is not authenticated"
                    }
                },
                "tags": [
                    "authz"
                ]
            },
            "parameters": []
        },
        "/authz/v1/roles/": {
            "get": {
                "operationId": "authz_v1_roles_list",
                "summary": "Retrieve all roles and their permissions for a specific scope.",
                "description": "Retrieve all roles and their permissions for a specific scope.",
                "parameters": [
                    {
                        "name": "scope",
                        "in": "query",
                        "description": "The scope to query roles for",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of items per page",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ListRolesWithScopeResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "The request parameters are invalid"
                    },
                    "401": {
                        "description": "The user is not authenticated or does not have the required permissions"
                    }
                },
                "tags": [
                    "authz"
                ]
            },
            "parameters": []
        },
        "/authz/v1/roles/users/": {
            "get": {
                "operationId": "authz_v1_roles_users_list",
                "summary": "Retrieve all users with role assignments within a specific scope.",
                "description": "Retrieve all users with role assignments within a specific scope.",
                "parameters": [
                    {
                        "name": "scope",
                        "in": "query",
                        "description": "The authorization scope for the role",
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "The search query to filter users by",
                        "type": "string"
                    },
                    {
                        "name": "roles",
                        "in": "query",
                        "description": "The names of the roles to query",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of items per page",
                        "type": "integer"
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "The field to sort by",
                        "type": "string"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order to sort by",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The users were retrieved successfully"
                    },
                    "400": {
                        "description": "The request parameters are invalid"
                    },
                    "401": {
                        "description": "The user is not authenticated or does not have the required permissions"
                    }
                },
                "tags": [
                    "authz"
                ]
            },
            "put": {
                "operationId": "authz_v1_roles_users_update",
                "summary": "Assign multiple users to a specific role within one or more scopes.",
                "description": "Assign multiple users to a specific role within one or more scopes.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddUsersToRoleWithScope"
                        }
                    }
                ],
                "responses": {
                    "207": {
                        "description": "The users were added to the role"
                    },
                    "400": {
                        "description": "The request data is invalid"
                    },
                    "401": {
                        "description": "The user is not authenticated or does not have the required permissions"
                    }
                },
                "tags": [
                    "authz"
                ]
            },
            "delete": {
                "operationId": "authz_v1_roles_users_delete",
                "summary": "Remove multiple users from a specific role within a scope.",
                "description": "Remove multiple users from a specific role within a scope.",
                "parameters": [
                    {
                        "name": "users",
                        "in": "query",
                        "description": "List of user identifiers (username or email) separated by a comma",
                        "type": "string"
                    },
                    {
                        "name": "role",
                        "in": "query",
                        "description": "The role to remove the users from",
                        "type": "string"
                    },
                    {
                        "name": "scope",
                        "in": "query",
                        "description": "The scope to remove the users from",
                        "type": "string"
                    }
                ],
                "responses": {
                    "207": {
                        "description": "The users were removed from the role"
                    },
                    "400": {
                        "description": "The request parameters are invalid"
                    },
                    "401": {
                        "description": "The user is not authenticated or does not have the required permissions"
                    }
                },
                "tags": [
                    "authz"
                ]
            },
            "parameters": []
        },
        "/authz/v1/scopes/": {
            "get": {
                "operationId": "authz_v1_scopes_list",
                "summary": "API view for listing scopes\nThis API is used on the filters and assign roles functionality on the Admin Console.",
                "description": "**Endpoints**\n\n- GET: Retrieve all scopes\n\n**Query Parameters**\n\n- search (Optional): Search term to filter scopes by display name\n- org (Optional): Filter scopes by org\n- orgs (Optional): Filter scopes by multiple orgs (comma separated list of orgs)\n- page (Optional): Page number for pagination\n- page_size (Optional): Number of items per page\n- scope_type (Optional): Filter scopes by type. Supported values are `course` and `library`.\n- management_permission_only (Optional): Filter scopes either by only the ones to which the user has \"manage team\"\n    permissions (if true), or just \"view team\" permissions.\n\n**Response Format**\n\nReturns a paginated list of scope objects, each containing:\n\n- external_key: The scope external key\n- display_name: The scope's name\n- org: The organization serialized object\n\n**Authentication and Permissions**\n\n- Requires authenticated user with either a content library or course view team permission.\n\n**Example Request**\n\nGET /api/authz/v1/scopes/?search=edx&page=1&page_size=10\n\n**Example Response**::\n\n    {\n        \"count\": 1,\n        \"next\": null,\n        \"previous\": null,\n        \"results\": [\n            {\n                \"external_key\": \"course-v1:OpenedX+DemoX+DemoCourse\",\n                \"display_name\": \"Open edX Demo Course\",\n                \"org\": {\n                    \"id\": 1,\n                    \"created\": \"2026-04-02T19:30:36.779095Z\",\n                    \"modified\": \"2026-04-02T19:30:36.779095Z\",\n                    \"name\": \"OpenedX\",\n                    \"short_name\": \"OpenedX\",\n                    \"description\": \"\",\n                    \"logo\": null,\n                    \"active\": true\n                }\n            },\n        ]\n    }",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of items per page",
                        "type": "integer"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Filter scopes by display name",
                        "type": "string"
                    },
                    {
                        "name": "org",
                        "in": "query",
                        "description": "Filter scopes by org",
                        "type": "string"
                    },
                    {
                        "name": "orgs",
                        "in": "query",
                        "description": "Filter scopes by multiple orgs (comma separated list of orgs)",
                        "type": "string"
                    },
                    {
                        "name": "management_permission_only",
                        "in": "query",
                        "description": "If true, returns only scopes to which the calling user has manage team permission, otherwise, returns any scope to which the user has view team permission.",
                        "type": "boolean"
                    },
                    {
                        "name": "scope_type",
                        "in": "query",
                        "description": "Filter by scope type. Either 'course' or 'library'. Returns both if not specified.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Scope"
                            }
                        }
                    },
                    "400": {
                        "description": "The request parameters are invalid"
                    },
                    "401": {
                        "description": "The user is not authenticated"
                    },
                    "403": {
                        "description": "The user does not have the required permissions"
                    }
                },
                "tags": [
                    "authz"
                ]
            },
            "parameters": []
        },
        "/authz/v1/users/": {
            "get": {
                "operationId": "authz_v1_users_list",
                "summary": "Retrieve all users that have at least one assignation according to the filtering fields.",
                "description": "Retrieve all users that have at least one assignation according to the filtering fields.",
                "parameters": [
                    {
                        "name": "scopes",
                        "in": "query",
                        "description": "The scopes to query assignments for",
                        "type": "string"
                    },
                    {
                        "name": "orgs",
                        "in": "query",
                        "description": "The orgs to query assignments for",
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "The search query to filter users by",
                        "type": "string"
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "The field to sort by",
                        "type": "string"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order to sort by",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of items per page",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TeamMember"
                            }
                        }
                    },
                    "400": {
                        "description": "The request parameters are invalid"
                    },
                    "401": {
                        "description": "The user is not authenticated"
                    },
                    "403": {
                        "description": "The user does not have the required permissions"
                    }
                },
                "tags": [
                    "authz"
                ]
            },
            "parameters": []
        },
        "/authz/v1/users/validate/": {
            "post": {
                "operationId": "authz_v1_users_validate_create",
                "summary": "Validates the provided usernames or emails correspond to existing users.",
                "description": "Validates the provided usernames or emails correspond to existing users.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UserValidationAPIView"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/UserValidationAPIViewResponse"
                        }
                    },
                    "400": {
                        "description": "The request data is invalid"
                    },
                    "401": {
                        "description": "The user is not authenticated"
                    },
                    "403": {
                        "description": "The user does not have the required permissions"
                    },
                    "500": {
                        "description": "An unexpected error occurred while validating users"
                    }
                },
                "tags": [
                    "authz"
                ]
            },
            "parameters": []
        },
        "/authz/v1/users/{username}/assignments/": {
            "get": {
                "operationId": "authz_v1_users_assignments_list",
                "summary": "Retrieve all user role assignments.",
                "description": "Retrieve all user role assignments.",
                "parameters": [
                    {
                        "name": "orgs",
                        "in": "query",
                        "description": "Comma-separated list of orgs to filter assignments by",
                        "type": "string"
                    },
                    {
                        "name": "roles",
                        "in": "query",
                        "description": "Comma-separated list of roles to filter assignments by",
                        "type": "string"
                    },
                    {
                        "name": "sort_by",
                        "in": "query",
                        "description": "The field to sort by. Options: role, org, scope. Defaults to role",
                        "type": "string"
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order to sort by. Options: asc, desc. Defaults to asc",
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of items per page",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TeamMemberAssignment"
                            }
                        }
                    },
                    "400": {
                        "description": "The request parameters are invalid"
                    },
                    "401": {
                        "description": "The user is not authenticated"
                    },
                    "403": {
                        "description": "The user does not have the required permissions"
                    }
                },
                "tags": [
                    "authz"
                ]
            },
            "parameters": [
                {
                    "name": "username",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/bookmarks/v1/bookmarks/": {
            "get": {
                "operationId": "bookmarks_v1_bookmarks_list",
                "summary": "Get a paginated list of bookmarks for a user.",
                "description": "The list can be filtered by passing parameter \"course_id=<course_id>\"\nto only include bookmarks from a particular course.\n\nThe bookmarks are always sorted in descending order by creation date.\n\nEach page in the list contains 10 bookmarks by default. The page\nsize can be altered by passing parameter \"page_size=<page_size>\".\n\nTo include the optional fields pass the values in \"fields\" parameter\nas a comma separated list. Possible values are:\n\n* \"display_name\"\n* \"path\"\n\n**Example Requests**\n\nGET /api/bookmarks/v1/bookmarks/?course_id={course_id1}&fields=display_name,path",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "A page number within the paginated result set.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of results to return per page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "course_id",
                        "in": "query",
                        "description": "The id of the course to limit the list",
                        "type": "string"
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "The fields to return: display_name, path.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "required": [
                                "count",
                                "results"
                            ],
                            "type": "object",
                            "properties": {
                                "count": {
                                    "type": "integer"
                                },
                                "next": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "previous": {
                                    "type": "string",
                                    "format": "uri",
                                    "x-nullable": true
                                },
                                "results": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/Bookmark"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "bookmarks"
                ]
            },
            "post": {
                "operationId": "bookmarks_v1_bookmarks_create",
                "summary": "Create a new bookmark for a user.",
                "description": "The POST request only needs to contain one parameter \"usage_id\".\n\nHttp400 is returned if the format of the request is not correct,\nthe usage_id is invalid or a block corresponding to the usage_id\ncould not be found.\n\n**Example Requests**\n\nPOST /api/bookmarks/v1/bookmarks/\nRequest data: {\"usage_id\": <usage-id>}",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Bookmark"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/Bookmark"
                        }
                    }
                },
                "tags": [
                    "bookmarks"
                ]
            },
            "parameters": []
        },
        "/bookmarks/v1/bookmarks/{username},{usage_id}/": {
            "get": {
                "operationId": "bookmarks_v1_bookmarks_read",
                "summary": "Get a specific bookmark for a user.",
                "description": "**Example Requests**\n\nGET /api/bookmarks/v1/bookmarks/{username},{usage_id}?fields=display_name,path",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "bookmarks"
                ]
            },
            "delete": {
                "operationId": "bookmarks_v1_bookmarks_delete",
                "description": "DELETE /api/bookmarks/v1/bookmarks/{username},{usage_id}",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": ""
                    }
                },
                "tags": [
                    "bookmarks"
                ]
            },
            "parameters": [
                {
                    "name": "username",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "usage_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/certificates/v0/certificates/{username}/": {
            "get": {
                "operationId": "certificates_v0_certificates_read",
                "summary": "Get a paginated list of certificates for a user.",
                "description": "**Use Case**\n\nGet the list of viewable course certificates for a specific user.\n\n**Example Request**\n\nGET /api/certificates/v0/certificates/{username}\n\n**GET Response Values**\n\n    If the request for information about the user's certificates is successful,\n    an HTTP 200 \"OK\" response is returned.\n\n    The HTTP 200 response contains a list of dicts with the following keys/values.\n\n    * username: A string representation of an user's username passed in the request.\n\n    * course_id: A string representation of a Course ID.\n\n    * course_display_name: A string representation of the Course name.\n\n    * course_organization: A string representation of the organization associated with the Course.\n\n    * certificate_type: A string representation of the certificate type.\n        Can be honor|verified|professional\n\n    * created_date: Date/time the certificate was created, in ISO-8661 format.\n\n    * status: A string representation of the certificate status.\n\n    * is_passing: True if the certificate has a passing status, False if not.\n\n    * download_url: A string representation of the certificate url.\n\n    * grade: A string representation of a float for the user's course grade.\n\n**Example GET Response**\n\n    [{\n        \"username\": \"bob\",\n        \"course_id\": \"edX/DemoX/Demo_Course\",\n        \"certificate_type\": \"verified\",\n        \"created_date\": \"2015-12-03T13:14:28+0000\",\n        \"status\": \"downloadable\",\n        \"is_passing\": true,\n        \"download_url\": \"http://www.example.com/cert.pdf\",\n        \"grade\": \"0.98\"\n    }]",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "The users to get certificates for",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "certificates"
                ]
            },
            "parameters": [
                {
                    "name": "username",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/certificates/v0/certificates/{username}/courses/{course_id}/": {
            "get": {
                "operationId": "certificates_v0_certificates_courses_read",
                "description": "Retrieves certificate information for a user in a specified course run.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "certificates"
                ]
            },
            "parameters": [
                {
                    "name": "username",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "course_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/change_email_settings": {
            "post": {
                "operationId": "change_email_settings_create",
                "description": "Modify logged-in user's setting for receiving emails from a course.",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "change_email_settings"
                ]
            },
            "parameters": []
        },
        "/cohorts/v1/courses/{course_key_string}/cohorts/{cohort_id}": {
            "get": {
                "operationId": "cohorts_v1_courses_cohorts_read",
                "description": "Endpoint to get either one or all cohorts.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "tags": [
                    "cohorts"
                ]
            },
            "post": {
                "operationId": "cohorts_v1_courses_cohorts_create",
                "description": "Endpoint to create a new cohort, must not include cohort_id.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "tags": [
                    "cohorts"
                ]
            },
            "patch": {
                "operationId": "cohorts_v1_courses_cohorts_partial_update",
                "description": "Endpoint to update a cohort name, assignment type, and/or content group association.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "tags": [
                    "cohorts"
                ]
            },
            "parameters": [
                {
                    "name": "course_key_string",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "cohort_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/cohorts/v1/courses/{course_key_string}/cohorts/{cohort_id}/users/{username}": {
            "get": {
                "operationId": "cohorts_v1_courses_cohorts_users_read",
                "description": "Lists the users in a specific cohort.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CohortUsersAPI"
                        }
                    }
                },
                "tags": [
                    "cohorts"
                ]
            },
            "post": {
                "operationId": "cohorts_v1_courses_cohorts_users_create",
                "description": "Add given users to the cohort.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CohortUsersAPI"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CohortUsersAPI"
                        }
                    }
                },
                "tags": [
                    "cohorts"
                ]
            },
            "delete": {
                "operationId": "cohorts_v1_courses_cohorts_users_delete",
                "description": "Removes and user from a specific cohort.",
                "parameters": [],
                "responses": {
                    "204": {
                        "description": ""
                    }
                },
                "tags": [
                    "cohorts"
                ]
            },
            "parameters": [
                {
                    "name": "course_key_string",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "cohort_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "username",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/cohorts/v1/courses/{course_key_string}/users": {
            "post": {
                "operationId": "cohorts_v1_courses_users_create",
                "description": "View method that accepts an uploaded file (using key \"uploaded-file\")\ncontaining cohort assignments for users. This method spawns a celery task\nto do the assignments, and a CSV file with results is provided via data downloads.",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "cohorts"
                ]
            },
            "parameters": [
                {
                    "name": "course_key_string",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/cohorts/v1/settings/{course_key_string}": {
            "get": {
                "operationId": "cohorts_v1_settings_read",
                "description": "Endpoint to fetch the course cohort settings.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "tags": [
                    "cohorts"
                ]
            },
            "put": {
                "operationId": "cohorts_v1_settings_update",
                "description": "Endpoint to set the course cohort settings.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "tags": [
                    "cohorts"
                ]
            },
            "parameters": [
                {
                    "name": "course_key_string",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/cohorts/v2/courses/{course_id}/group_configurations": {
            "get": {
                "operationId": "cohorts_v2_courses_group_configurations_list",
                "summary": "List all content groups for a course.",
                "description": "List all content groups for a course.",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "The course key (e.g., course-v1:org+course+run)",
                        "type": "string",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved content groups"
                    },
                    "400": {
                        "description": "Invalid course key"
                    },
                    "401": {
                        "description": "Authentication required"
                    },
                    "403": {
                        "description": "User does not have permission to access this course"
                    },
                    "404": {
                        "description": "Course not found"
                    }
                },
                "tags": [
                    "cohorts"
                ]
            },
            "parameters": [
                {
                    "name": "course_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/cohorts/v2/courses/{course_id}/group_configurations/{configuration_id}": {
            "get": {
                "operationId": "cohorts_v2_courses_group_configurations_read",
                "summary": "Retrieve a specific content group configuration.",
                "description": "Retrieve a specific content group configuration.",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "The course key",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "configuration_id",
                        "in": "path",
                        "description": "The ID of the content group configuration",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Content group configuration details"
                    },
                    "400": {
                        "description": "Invalid course key"
                    },
                    "401": {
                        "description": "Authentication required"
                    },
                    "403": {
                        "description": "User does not have permission to access this course"
                    },
                    "404": {
                        "description": "Content group configuration not found"
                    }
                },
                "tags": [
                    "cohorts"
                ]
            },
            "parameters": [
                {
                    "name": "course_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "configuration_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/commerce/v0/baskets/": {
            "post": {
                "operationId": "commerce_v0_baskets_create",
                "description": "Attempt to enroll the user.",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "commerce"
                ]
            },
            "parameters": []
        },
        "/commerce/v0/baskets/{basket_id}/order/": {
            "get": {
                "operationId": "commerce_v0_baskets_order_list",
                "description": "HTTP handler.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "commerce"
                ]
            },
            "parameters": [
                {
                    "name": "basket_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/commerce/v1/courses/": {
            "get": {
                "operationId": "commerce_v1_courses_list",
                "description": "List courses and modes.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/commerce.Course"
                            }
                        }
                    }
                },
                "tags": [
                    "commerce"
                ]
            },
            "parameters": []
        },
        "/commerce/v1/courses/{course_id}/": {
            "get": {
                "operationId": "commerce_v1_courses_read",
                "description": "Retrieve, update, or create courses/modes.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/commerce.Course"
                        }
                    }
                },
                "tags": [
                    "commerce"
                ]
            },
            "put": {
                "operationId": "commerce_v1_courses_update",
                "description": "Retrieve, update, or create courses/modes.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commerce.Course"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/commerce.Course"
                        }
                    }
                },
                "tags": [
                    "commerce"
                ]
            },
            "patch": {
                "operationId": "commerce_v1_courses_partial_update",
                "description": "Retrieve, update, or create courses/modes.",
                "parameters": [
                    {
                        "name": "data",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/commerce.Course"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/commerce.Course"
                        }
                    }
                },
                "tags": [
                    "commerce"
                ]
            },
            "parameters": [
                {
                    "name": "course_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/commerce/v1/orders/{number}/": {
            "get": {
                "operationId": "commerce_v1_orders_read",
                "description": "HTTP handler.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "commerce"
                ]
            },
            "parameters": [
                {
                    "name": "number",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/completion/v1/completion-batch": {
            "post": {
                "operationId": "completion_v1_completion-batch_create",
                "summary": "Inserts a batch of completions.",
                "description": "REST Endpoint Format:\n```\n{\n  \"username\": \"username\",\n  \"course_key\": \"course-key\",\n  \"blocks\": {\n    \"block_key1\": 0.0,\n    \"block_key2\": 1.0,\n    \"block_key3\": 1.0,\n  }\n}\n```\n\n**Returns**\n\nA Response object, with an appropriate status code.\n\nIf successful, status code is 200.\n```\n{\n   \"detail\" : _(\"ok\")\n}\n```\n\nOtherwise, a 400 or 404 may be returned, and the \"detail\" content will explain the error.",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "completion"
                ]
            },
            "parameters": []
        },
        "/completion/v1/subsection-completion/{username}/{course_key}/{subsection_id}": {
            "get": {
                "operationId": "completion_v1_subsection-completion_read",
                "description": "Returns completion for a (user, subsection, course).",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": ""
                    }
                },
                "tags": [
                    "completion"
                ]
            },
            "parameters": [
                {
                    "name": "username",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "course_key",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "subsection_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/course_experience/v1/course_deadlines_info/{course_key_string}": {
            "get": {
                "operationId": "course_experience_v1_course_deadlines_info_read",
                "summary": "**Use Cases**",
                "description": "Request course deadline info for mobile\n\n**Example Requests**\n\n    GET api/course_experience/v1/course_deadlines_info/{course_key}\n\n**Response Values**\n\n    Body consists of the following fields:\n\n    dates_banner_info: (obj)\n        missed_deadlines: (bool) Whether the user has missed any graded content deadlines for the given course.\n        missed_gated_content: (bool) Whether the user has missed any gated content for the given course.\n        content_type_gating_enabled: (bool) Whether content type gating is enabled for this enrollment.\n        verified_upgrade_link: (str) The URL to ecommerce IDA for purchasing the verified upgrade.\n\n**Returns**\n\n    * 200 on success with above fields.\n    * 401 if the user is not authenticated.\n    * 404 if the course is not available or cannot be seen.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CourseDeadlinesMobile"
                        }
                    }
                },
                "tags": [
                    "course_experience"
                ]
            },
            "parameters": [
                {
                    "name": "course_key_string",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/course_experience/v1/reset_all_course_deadlines/": {
            "post": {
                "operationId": "course_experience_v1_reset_all_course_deadlines_create",
                "summary": "Set the start_date of a schedule to today for all enrolled courses",
                "description": "Request Parameters:\n    research_event_data: any data that should be included in the research tracking event\n        Example: sending the location of where the reset deadlines banner (i.e. outline-tab)",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "course_experience"
                ]
            },
            "parameters": []
        },
        "/course_experience/v1/reset_course_deadlines": {
            "post": {
                "operationId": "course_experience_v1_reset_course_deadlines_create",
                "description": "Set the start_date of a schedule to today, which in turn will adjust due dates for\nsequentials belonging to a self paced course\n\nRequest Parameters:\n    course_key: course key\n    research_event_data: any data that should be included in the research tracking event\n        Example: sending the location of where the reset deadlines banner (i.e. outline-tab)\n\nIMPORTANT NOTE: If updates are happening to the logic here, ALSO UPDATE the `reset_course_deadlines`\nfunction in common/djangoapps/util/views.py as well.",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "course_experience"
                ]
            },
            "parameters": []
        },
        "/course_home/course_metadata/{course_key_string}": {
            "get": {
                "operationId": "course_home_course_metadata_read",
                "summary": "**Use Cases**",
                "description": "Request Course metadata details for the Course Home MFE that every page needs.\n\n**Example Requests**\n\n    GET api/course_home/v1/course_metadata/{course_key}\n\n**Response Values**\n\n    Body consists of the following fields:\n\n    course_id: (str) The Course's id (Course Run key)\n    username: (str) The requesting (or masqueraded) user. Returns None for an\n        unauthenticated user.\n    is_enrolled: (bool) Indicates if the user is enrolled in the course\n    is_self_paced: (bool) Indicates if the course is self paced\n    is_staff: (bool) Indicates if the user is staff\n    original_user_is_staff: (bool) Indicates if the original user has staff access\n        Used for when masquerading to distinguish between the original requesting user\n        and the user being masqueraded as.\n    number: (str) The Course's number\n    org: (str) The Course's organization\n    tabs: List of Course Tabs to display. They are serialized as:\n        tab_id: (str) The tab's id\n        title: (str) The title of the tab to display\n        url: (str) The url to view the tab\n    title: (str) The Course's display title\n    celebrations: (dict) a dict of celebration data\n    user_timezone: (str) The timezone of the given user\n    can_view_certificate: Flag to determine whether or not the learner can view their course certificate.\n\n**Returns**\n\n    * 200 on success with above fields.\n    * 404 if the course is not available or cannot be seen.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CourseHomeMetadata"
                        }
                    }
                },
                "tags": [
                    "course_home"
                ]
            },
            "parameters": [
                {
                    "name": "course_key_string",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/course_home/dates/{course_key_string}": {
            "get": {
                "operationId": "course_home_dates_read",
                "summary": "**Use Cases**",
                "description": "Request details for the Dates Tab\n\n**Example Requests**\n\n    GET api/course_home/v1/dates/{course_key}\n\n**Response Values**\n\n    Body consists of the following fields:\n\n    course_date_blocks: List of serialized DateSummary objects. Each serialization has the following fields:\n        complete: (bool) Meant to only be used by assignments. Indicates completeness for an\n            assignment.\n        date: (datetime) The date time corresponding for the event\n        date_type: (str) The type of date (ex. course-start-date, assignment-due-date, etc.)\n        description: (str) The description for the date event\n        learner_has_access: (bool) Indicates if the learner has access to the date event\n        link: (str) An absolute link to content related to the date event\n            (ex. verified link or link to assignment)\n        title: (str) The title of the date event\n    dates_banner_info: (obj)\n        content_type_gating_enabled: (bool) Whether content type gating is enabled for this enrollment.\n        missed_deadlines: (bool) Indicates whether the user missed any graded content deadlines\n        missed_gated_content: (bool) Indicates whether the user missed gated content\n        verified_upgrade_link: (str) The link for upgrading to the Verified track in a course\n    has_ended: (bool) Indicates whether course has ended\n    learner_is_full_access: (bool) Indicates if the user is verified in the course\n    user_timezone: (str) The user's preferred timezone\n\n**Returns**\n\n    * 200 on success with above fields.\n    * 401 if the user is not authenticated.\n    * 403 if the user does not have access to the course.\n    * 404 if the course is not available or cannot be seen.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/DatesTab"
                        }
                    }
                },
                "tags": [
                    "course_home"
                ]
            },
            "parameters": [
                {
                    "name": "course_key_string",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/course_home/dismiss_welcome_message": {
            "post": {
                "operationId": "course_home_dismiss_welcome_message_create",
                "description": "",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "course_home"
                ]
            },
            "parameters": []
        },
        "/course_home/navigation/{course_key_string}": {
            "get": {
                "operationId": "course_home_navigation_read",
                "description": "Get the visible course blocks (from course to vertical types) for the given course.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/CourseBlock"
                        }
                    }
                },
                "tags": [
                    "course_home"
                ]
            },
            "parameters": [
                {
                    "name": "course_key_string",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/course_home/outline/{course_key_string}": {
            "get": {
                "operationId": "course_home_outline_read",
                "summary": "**Use Cases**",
                "description": "Request details for the Outline Tab\n\n**Example Requests**\n\n    GET api/course_home/v1/outline/{course_key}\n\n**Response Values**\n\n    Body consists of two possible shapes.\n\n    For a good 200 response, the response will include:\n\n    access_expiration: An object detailing when access to this course will expire\n        expiration_date: (str) When the access expires, in ISO 8601 notation\n        masquerading_expired_course: (bool) Whether this course is expired for the masqueraded user\n        upgrade_deadline: (str) Last chance to upgrade, in ISO 8601 notation (or None if can't upgrade anymore)\n        upgrade_url: (str) Upgrade link (or None if can't upgrade anymore)\n    course_blocks:\n        blocks: List of serialized Course Block objects. Each serialization has the following fields:\n            id: (str) The usage ID of the block.\n            type: (str) The type of block. Possible values the names of any\n                XBlock type in the system, including custom blocks. Examples are\n                course, chapter, sequential, vertical, html, problem, video, and\n                discussion.\n            display_name: (str) The display name of the block.\n            lms_web_url: (str) The URL to the navigational container of the\n                xBlock on the web LMS.\n            children: (list) If the block has child blocks, a list of IDs of\n                the child blocks.\n            resume_block: (bool) Whether the block is the resume block\n            has_scheduled_content: (bool) Whether the block has more content scheduled for the future\n    course_goals:\n        selected_goal:\n            days_per_week: (int) The number of days the learner wants to learn per week\n            subscribed_to_reminders: (bool) Whether the learner wants email reminders about their goal\n        weekly_learning_goal_enabled: Flag indicating if this feature is enabled for this call\n    course_tools: List of serialized Course Tool objects. Each serialization has the following fields:\n        analytics_id: (str) The unique id given to the tool.\n        title: (str) The display title of the tool.\n        url: (str) The link to access the tool.\n    dates_banner_info: (obj)\n        content_type_gating_enabled: (bool) Whether content type gating is enabled for this enrollment.\n        missed_deadlines: (bool) Whether the user has missed any graded content deadlines for the given course.\n        missed_gated_content: (bool) Whether the user has missed any gated content for the given course.\n        verified_upgrade_link: (str) The URL to ecommerce IDA for purchasing the verified upgrade.\n    dates_widget:\n        course_date_blocks: List of serialized Course Dates objects. Each serialization has the following fields:\n            complete: (bool) Meant to only be used by assignments. Indicates completeness for an\n            assignment.\n            date: (datetime) The date time corresponding for the event\n            date_type: (str) The type of date (ex. course-start-date, assignment-due-date, etc.)\n            description: (str) The description for the date event\n            learner_has_access: (bool) Indicates if the learner has access to the date event\n            link: (str) An absolute link to content related to the date event\n                (ex. verified link or link to assignment)\n            title: (str) The title of the date event\n        dates_tab_link: (str) The URL to the Dates Tab\n        user_timezone: (str) The timezone of the given user\n    enroll_alert:\n        can_enroll: (bool) Whether the user can enroll in the given course\n        extra_text: (str)\n    enrollment_mode: (str) Current enrollment mode. Null if the user is not enrolled.\n    handouts_html: (str) Raw HTML for the handouts section of the course info\n    has_ended: (bool) Indicates whether course has ended\n    offer: An object detailing upgrade discount information\n        code: (str) Checkout code\n        expiration_date: (str) Expiration of offer, in ISO 8601 notation\n        original_price: (str) Full upgrade price without checkout code; includes currency symbol\n        discounted_price: (str) Upgrade price with checkout code; includes currency symbol\n        percentage: (int) Amount of discount\n        upgrade_url: (str) Checkout URL\n    resume_course:\n        has_visited_course: (bool) Whether the user has ever visited the course\n        url: (str) The display name of the course block to resume\n    welcome_message_html: (str) Raw HTML for the course updates banner\n    user_has_passing_grade: (bool) Whether the user currently is passing the course\n\n    If the learner does not have access to the course for a specific reason and should be redirected this\n    view will return a 403 and the following data:\n\n    url: (str) The URL to which the user should be redirected\n    error_code: (str) A system identifier for the reason the user is being redirected\n    developer_message: (str) A message explaining why the user is being redirected,\n                             intended for developer debugging.\n    user_message: (str) A message explaining why the user is being redirected, intended to be shown to the user.\n\n**Returns**\n\n    * 200 on success.\n    * 403 if the user does not currently have access to the course and should be redirected.\n    * 404 if the course is not available or cannot be seen.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/OutlineTab"
                        }
                    }
                },
                "tags": [
                    "course_home"
                ]
            },
            "parameters": [
                {
                    "name": "course_key_string",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/course_home/progress/{course_key_string}": {
            "get": {
                "operationId": "course_home_progress_read",
                "summary": "**Use Cases**",
                "description": "Request details for the Progress Tab\n\n**Example Requests**\n\n    GET api/course_home/v1/progress/{course_key}\n    GET api/course_home/v1/progress/{course_key}/{student_id}/\n\n**Response Values**\n\n    Body consists of the following fields:\n\n    access_expiration: An object detailing when access to this course will expire\n        expiration_date: (str) When the access expires, in ISO 8601 notation\n        masquerading_expired_course: (bool) Whether this course is expired for the masqueraded user\n        upgrade_deadline: (str) Last chance to upgrade, in ISO 8601 notation (or None if can't upgrade anymore)\n        upgrade_url: (str) Upgrade link (or None if can't upgrade anymore)\n    certificate_data: Object containing information about the user's certificate status\n        cert_status: (str) the status of a user's certificate (full list of statuses are defined in\n                     lms/djangoapps/certificates/models.py)\n        cert_web_view_url: (str) the url to view the certificate\n        download_url: (str) the url to download the certificate\n    completion_summary: Object containing unit completion counts with the following fields:\n        complete_count: (float) number of complete units\n        incomplete_count: (float) number of incomplete units\n        locked_count: (float) number of units where contains_gated_content is True\n    course_grade: Object containing the following fields:\n        is_passing: (bool) whether the user's grade is above the passing grade cutoff\n        letter_grade: (str) the user's letter grade based on the set grade range.\n                            If user is passing, value may be 'A', 'B', 'C', 'D', 'Pass', otherwise none\n        percent: (float) the user's total graded percent in the course\n    credit_course_requirements: Object containing credit course requirements with the following fields:\n        eligibility_status: (str) Indicates if the user is eligible to receive credit. Value may be\n            \"eligible\", \"not_eligible\", or \"partial_eligible\"\n        requirements: List of requirements that must be fulfilled to be eligible to receive credit. See\n            `get_credit_requirement_status` for details on the fields\n    end: (date) end date of the course\n    enrollment_mode: (str) a str representing the enrollment the user has ('audit', 'verified', ...)\n    grading_policy:\n        assignment_policies: List of serialized assignment grading policy objects, each has the following fields:\n            num_droppable: (int) the number of lowest scored assignments that will not be counted towards the final\n                           grade\n            short_label: (str) the abbreviated name given to the assignment type\n            type: (str) the assignment type\n            weight: (float) the percent weight the given assigment type has on the overall grade\n        grade_range: an object containing the grade range cutoffs. The exact keys in the object can vary, but they\n                     range from just 'Pass', to a combination of 'A', 'B', 'C', and 'D'. If a letter grade is\n                     present, 'Pass' is not included.\n    has_scheduled_content: (bool) boolean on if the course has content scheduled with a release date in the future\n    section_scores: List of serialized Chapters. Each Chapter has the following fields:\n        display_name: (str) a str of what the name of the Chapter is for displaying on the site\n        subsections: List of serialized Subsections, each has the following fields:\n            assignment_type: (str) the format, if any, of the Subsection (Homework, Exam, etc)\n            block_key: (str) the key of the given subsection block\n            display_name: (str) a str of what the name of the Subsection is for displaying on the site\n            due: (str or None) the due date of the subsection in ISO 8601 format, or None if no due date is set\n            has_graded_assignment: (bool) whether or not the Subsection is a graded assignment\n            learner_has_access: (bool) whether the learner has access to the subsection (could be FBE gated)\n            num_points_earned: (int) the amount of points the user has earned for the given subsection\n            num_points_possible: (int) the total amount of points possible for the given subsection\n            override: Optional object if grade has been overridden by proctor or grading change\n                system: (str) either GRADING or PROCTORING\n                reason: (str) a comment on the grading override\n            percent_graded: (float) the percentage of total points the user has received a grade for in a given\n                            subsection\n            problem_scores: List of objects that represent individual problem scores with the following fields:\n                earned: (float) number of earned points\n                possible: (float) number of possible points\n            show_correctness: (str) a str representing whether to show the problem/practice scores based on due date\n                              ('always', 'never', 'past_due', values defined in\n                               xmodule/modulestore/inheritance.py)\n            show_grades: (bool) a bool for whether to show grades based on the access the user has\n            url: (str or None) the absolute path url to the Subsection or None if the Subsection is no longer\n                 accessible to the learner due to a hide_after_due course team setting\n    studio_url: (str) a str of the link to the grading in studio for the course\n    user_has_passing_grade: (bool) boolean on if the user has a passing grade in the course\n    username: (str) username of the student whose progress information is being displayed.\n    verification_data: an object containing\n        link: (str) the link to either start or retry ID verification\n        status: (str) the status of the ID verification\n        status_date: (str) the date time string of when the ID verification status was set\n\n**Returns**\n\n    * 200 on success with above fields.\n    * 401 if the user is not authenticated or not enrolled.\n    * 403 if the user does not have access to the course.\n    * 404 if the course is not available or cannot be seen.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProgressTab"
                        }
                    }
                },
                "tags": [
                    "course_home"
                ]
            },
            "parameters": [
                {
                    "name": "course_key_string",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/course_home/progress/{course_key_string}/{student_id}": {
            "get": {
                "operationId": "course_home_progress_read",
                "summary": "**Use Cases**",
                "description": "Request details for the Progress Tab\n\n**Example Requests**\n\n    GET api/course_home/v1/progress/{course_key}\n    GET api/course_home/v1/progress/{course_key}/{student_id}/\n\n**Response Values**\n\n    Body consists of the following fields:\n\n    access_expiration: An object detailing when access to this course will expire\n        expiration_date: (str) When the access expires, in ISO 8601 notation\n        masquerading_expired_course: (bool) Whether this course is expired for the masqueraded user\n        upgrade_deadline: (str) Last chance to upgrade, in ISO 8601 notation (or None if can't upgrade anymore)\n        upgrade_url: (str) Upgrade link (or None if can't upgrade anymore)\n    certificate_data: Object containing information about the user's certificate status\n        cert_status: (str) the status of a user's certificate (full list of statuses are defined in\n                     lms/djangoapps/certificates/models.py)\n        cert_web_view_url: (str) the url to view the certificate\n        download_url: (str) the url to download the certificate\n    completion_summary: Object containing unit completion counts with the following fields:\n        complete_count: (float) number of complete units\n        incomplete_count: (float) number of incomplete units\n        locked_count: (float) number of units where contains_gated_content is True\n    course_grade: Object containing the following fields:\n        is_passing: (bool) whether the user's grade is above the passing grade cutoff\n        letter_grade: (str) the user's letter grade based on the set grade range.\n                            If user is passing, value may be 'A', 'B', 'C', 'D', 'Pass', otherwise none\n        percent: (float) the user's total graded percent in the course\n    credit_course_requirements: Object containing credit course requirements with the following fields:\n        eligibility_status: (str) Indicates if the user is eligible to receive credit. Value may be\n            \"eligible\", \"not_eligible\", or \"partial_eligible\"\n        requirements: List of requirements that must be fulfilled to be eligible to receive credit. See\n            `get_credit_requirement_status` for details on the fields\n    end: (date) end date of the course\n    enrollment_mode: (str) a str representing the enrollment the user has ('audit', 'verified', ...)\n    grading_policy:\n        assignment_policies: List of serialized assignment grading policy objects, each has the following fields:\n            num_droppable: (int) the number of lowest scored assignments that will not be counted towards the final\n                           grade\n            short_label: (str) the abbreviated name given to the assignment type\n            type: (str) the assignment type\n            weight: (float) the percent weight the given assigment type has on the overall grade\n        grade_range: an object containing the grade range cutoffs. The exact keys in the object can vary, but they\n                     range from just 'Pass', to a combination of 'A', 'B', 'C', and 'D'. If a letter grade is\n                     present, 'Pass' is not included.\n    has_scheduled_content: (bool) boolean on if the course has content scheduled with a release date in the future\n    section_scores: List of serialized Chapters. Each Chapter has the following fields:\n        display_name: (str) a str of what the name of the Chapter is for displaying on the site\n        subsections: List of serialized Subsections, each has the following fields:\n            assignment_type: (str) the format, if any, of the Subsection (Homework, Exam, etc)\n            block_key: (str) the key of the given subsection block\n            display_name: (str) a str of what the name of the Subsection is for displaying on the site\n            due: (str or None) the due date of the subsection in ISO 8601 format, or None if no due date is set\n            has_graded_assignment: (bool) whether or not the Subsection is a graded assignment\n            learner_has_access: (bool) whether the learner has access to the subsection (could be FBE gated)\n            num_points_earned: (int) the amount of points the user has earned for the given subsection\n            num_points_possible: (int) the total amount of points possible for the given subsection\n            override: Optional object if grade has been overridden by proctor or grading change\n                system: (str) either GRADING or PROCTORING\n                reason: (str) a comment on the grading override\n            percent_graded: (float) the percentage of total points the user has received a grade for in a given\n                            subsection\n            problem_scores: List of objects that represent individual problem scores with the following fields:\n                earned: (float) number of earned points\n                possible: (float) number of possible points\n            show_correctness: (str) a str representing whether to show the problem/practice scores based on due date\n                              ('always', 'never', 'past_due', values defined in\n                               xmodule/modulestore/inheritance.py)\n            show_grades: (bool) a bool for whether to show grades based on the access the user has\n            url: (str or None) the absolute path url to the Subsection or None if the Subsection is no longer\n                 accessible to the learner due to a hide_after_due course team setting\n    studio_url: (str) a str of the link to the grading in studio for the course\n    user_has_passing_grade: (bool) boolean on if the user has a passing grade in the course\n    username: (str) username of the student whose progress information is being displayed.\n    verification_data: an object containing\n        link: (str) the link to either start or retry ID verification\n        status: (str) the status of the ID verification\n        status_date: (str) the date time string of when the ID verification status was set\n\n**Returns**\n\n    * 200 on success with above fields.\n    * 401 if the user is not authenticated or not enrolled.\n    * 403 if the user does not have access to the course.\n    * 404 if the course is not available or cannot be seen.",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ProgressTab"
                        }
                    }
                },
                "tags": [
                    "course_home"
                ]
            },
            "parameters": [
                {
                    "name": "course_key_string",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "student_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ]
        },
        "/course_home/save_course_goal": {
            "post": {
                "operationId": "course_home_save_course_goal_create",
                "description": "",
                "parameters": [],
                "responses": {
                    "201": {
                        "description": ""
                    }
                },
                "tags": [
                    "course_home"
                ]
            },
            "parameters": []
        },
        "/course_home/unsubscribe_from_course_goal/{token}": {
            "post": {
                "operationId": "course_home_unsubscribe_from_course_goal_create",
                "summary": "API calls to unsubscribe from course goal reminders.",
[...]
